/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body
{
    font-family: 'OpenSansLight';
    background-image: 
}

.logo
{
	height: 150px;
	width:108px;
	margin: 50px auto;
}
.soon_text
{
    margin: 50px auto;
    color:#FFF;
}
.soon_text h1
{
     font-family: 'ChunkFiveRegular';
    color:#FFF;
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    text-shadow: 2px 1px 2px rgba(0,0,0,0.7);
}

.timebox
{
	/*background:#FFF;*/
	width:180px;
	height: 180px;
	border-radius: 90px;
	float:left;
	margin-left: 10px;
	border: solid 5px #FFF;
	text-align: center;
	vertical-align: middle;
	font-size: 105px;
	font-family: 'BebasRegular';
	color: #FFF;
}
.small 
{ 
	font-size: 18px; 
	width:100%;
	float: left; 
	text-align: center;
	padding: 5px 0px;
}
.time { 
	float:left; 
	width:100%; 
	padding: 12px 0px;
	text-align: center;
	text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}
.stackupper
{
    position: absolute;
    z-index: 999;
}

.slideshow
{
    /*background:#FFF;*/
    width:180px;
    height: 180px;
    border-radius: 90px;
    float:left;
    margin-left: 10px;
    color: #FFF;
}
.slide1
{
    background: url(../images/collage.jpg);
    background-position: 0px 180px;
    width:180px; 
    height:180px; 
    border-radius: 90px; 
}
.slide2
{
    background: url(../images/collage.jpg);
    background-position: 180px 580px;
    width:180px; 
    height:180px; 
    border-radius: 90px; 
}
.slide3
{
    background: url(../images/collage.jpg);
    background-position: 560px 340px;
    width:180px; 
    height:180px; 
    border-radius: 90px; 

}
.slide4
{
    background: url(../images/collage.jpg);
    background-position: 480px 780px;
    width:180px; 
    height:180px; 
    border-radius: 90px; 
}
.timebox_adjuster
{
	margin: 0 auto;
	width:85%;
}
/*--Change top border colors here--*/
.top_border
{
	background: #2BA6CB;
	width: 100%;
	height: 3px;
}
.secondary_container
{
	width: 100%;
	margin-top: 25px;
	color:#FFF;
	padding: 25px 0;
    background-color: rgba(0,0,0,0.8);
}
.secondary_container h2
{
	color:#FFF;
    text-shadow: 2px 1px 2px rgba(0,0,0,0.7);
	font-family: 'BebasNeueRegular';
}
.secondary_container p
{
	font-family: 'OpenSansLight';
}
    
.footer_container
{
	min-height: 50px;
	width: 100%;
	padding: 8px 0;
    box-shadow:1px 2px 8px 5px rgba(0,0,0,0.2);
     background-color: rgba(138,138,140,0.8);
}
.social 
{
	 font-family: 'WebSymbolsRegular';
	 font-weight: normal;
}
.social ul
{
    list-style: none; 
    padding: 0;
    margin: 0;

}
.social ul li
{
    padding: 5px 0 0 20px;
    float: left;
}
.social ul li a 
{
    color: #FFF;
    font-size: 35px;
    text-shadow: 2px 1px 2px rgba(0,0,0,0.7);
}
.social ul li a:HOVER 
{
    color: #CCC;
}
#twitter
{
    color: #FFF;
    float:right;
    width: 93%;
    font-family: 'OpenSansLight';
}
#twitter ul li
{
    list-style: none;
}
.twitter_logo
{
    width: 5%;
    height: 100%;
    float:left;
    padding-top: 5px;
}
.twit_section
{
    padding: 45px 0 35px 0;
}
.copyright
{
    font-family: 'OpenSansLight';
    color:#FFF;
    padding-top: 25px;

}
/* -----------------------------------------
   Circles
----------------------------------------- */
 .tech-slideshow {
        height: 180px;
        position: relative;
        overflow: hidden;
        border-radius: 90px;
        width: 180px;
        float: left;
        margin-left: 10px;
    }
    .tech-slideshow > div {
        height: 200px;
        width: 2526px;
        background: url(../images/collage.jpg);
        position: absolute;
/*        top: 0;
        left: 0;*/
        height: 100%;
        
        -moz-transition:  opacity 2s ease-out; 
           -o-transition: opacity 2s ease-out; 
      -webkit-transition: opacity 2s ease-out; 
          -ms-transition: opacity 2s ease-out; 
             transition: opacity 2s ease-out;
    
        /* Slow */
        -webkit-animation: moveSlideshow 120s linear infinite;
        -moz-animation:    moveSlideshow 120s linear infinite;
             animation:    moveSlideshow 120s linear infinite;
        
        -webkit-transform: translate3d(0,0,0); /* Performance */
                transform: translate3d(0,0,0);
    
    }
    .tech-slideshow .tech-slideshow-1 {
        /* Sprite */
        background-position: 0 200px;
        
        /* Fast */
        -webkit-animation: moveSlideshow 40s linear infinite;
        -moz-animation:    moveSlideshow 40s linear infinite;
             animation:    moveSlideshow 40s linear infinite;


    }
    .tech-slideshow:hover .tech-slideshow-2 {
        opacity: 0;
    }
    

    .tech-slideshow .tech-slideshow-3 {
        /* Sprite */
        background-position: 100px 600px;
        
        /* Fast */
        -webkit-animation: moveSlideshow 80s linear infinite;
        -moz-animation:    moveSlideshow 80s linear infinite;
             animation:    moveSlideshow 80s linear infinite;


    }

     .tech-slideshow .tech-slideshow-4 {
        /* Sprite */
        background-position: 600px 1000px;
        
        /* Fast */
        -webkit-animation: moveSlideshow 80s linear infinite;
        -moz-animation:    moveSlideshow 80s linear infinite;
             animation:    moveSlideshow 80s linear infinite;


    }   

    @-webkit-keyframes moveSlideshow {
        0%   { 
            -webkit-transform: translateX(0); 
            -moz-transform:    translateX(0); 
            -ms-transform:     translateX(0); 
            -o-transform:      translateX(0); 
            transform:         translateX(0); 
        }    
        100% { 
            -webkit-transform: translateX(-1684px); 
            -moz-transform:    translateX(-1684px); 
            -ms-transform:     translateX(-1684px); 
            -o-transform:      translateX(-1684px); 
            transform:         translateX(-1684px); 
        }
    }
    @-moz-keyframes moveSlideshow {
        0%   { 
            -webkit-transform: translateX(0); 
            -moz-transform:    translateX(0); 
            -ms-transform:     translateX(0); 
            -o-transform:      translateX(0); 
            transform:         translateX(0); 
        }    
        100% { 
            -webkit-transform: translateX(-1684px); 
            -moz-transform:    translateX(-1684px); 
            -ms-transform:     translateX(-1684px); 
            -o-transform:      translateX(-1684px); 
            transform:         translateX(-1684px); 
        }
    }
/* -----------------------------------------
  Validation
----------------------------------------- */
.needsfilled {
    border: solid 1px red;
    color:white;
}

.map
{
    position: absolute;
    top:0;
    left:0;
    z-index: -5;
    width: 100%;
    height:100%;
}
.mapoverlay
{
    position: absolute;
    top:0;
    left:0;
    z-index: -3;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.3);

}

.padfix
{
    padding:0;
}

